body {
    background-color: #0f8080;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #066486;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 30%;
}

img.passo0 {
    max-width: 90%;
} 